<div class="resume">
	<div class="resume-title">
		Jesse Brelje
	</div>

	<mat-accordion multi>
		<mat-expansion-panel>
	    <mat-expansion-panel-header>
	      <mat-panel-title>
	        Work Experience
	      </mat-panel-title>
	    </mat-expansion-panel-header>
	    <p>I currently work as a Software Developer for Discover Financial Services.</p>

		<p>My previous experiences include internships with both Dell and UnitedHealth Group (Optum).</p>

	  </mat-expansion-panel>

	  <mat-divider></mat-divider>

	  <mat-expansion-panel>
	  <mat-expansion-panel-header>
		<mat-panel-title>
		  Education
		</mat-panel-title>
	  </mat-expansion-panel-header>
	  <p>I went to the Univeristy of Wisconsin - Madison. Go Badgers!</p>
	</mat-expansion-panel>

	<mat-divider></mat-divider>

	<mat-expansion-panel>
	<mat-expansion-panel-header>
	  <mat-panel-title>
		Top Skills
	  </mat-panel-title>
	</mat-expansion-panel-header>
	<p>I use springboot every day!</p>
  </mat-expansion-panel>

  </mat-accordion>
</div>
